  <div class="top-part">
    <header>
      <h1>Formulario de Registro</h1>
    </header>
  </div>
  <div class="container-father">
    <div class="container-son">
      <form class="Sing-up-form" data-type="script">
        <div class="container-grandson">
          <input type="text" name="txtNombre" id="name" placeholder="Nombre">
        </div>
        <div class="container-grandson">
          <input type="text" name="txtLastName" id="lastName" placeholder="Apellido">
        </div>
        <div class="container-grandson">
          <select name="ddlSex" id="sex">
            <option value="" selected disabled hidden>Escoge tu genero</option>
            <option value="male">Hombre</option>
            <option value="female">Mujer</option>
            <option value="otro">Otro</option>
          </select>
        </div>
        <div class="container-grandson">
          <select name="ddlLabor" id="Position">
            <option value="" selected disabled hidde>Escoge tu cargo</option>
            <option value="estudiante">Estudiante</option>
            <option value="egresado">Egresado</option>
            <option value="profesor-planta">Profesor de planta</option>
            <option value="profesor-catedra">Profesor de catedra</option>
            <option value="profesor-administrativo">Profesor adnministrativo</option>
          </select>
        </div>
        <div class="container-grandson">
          <input type="email" name="txtEmail" id="email" placeholder="Correo Electronico">
        </div>
        <div class="container-grandson">
          <input type="password" name="txtPassword" id="password" placeholder="Contraseña">
        </div>
        <div class="container-grandson">
          <input type="password" name="txtRePassword" id="rePassword" placeholder="Confirmar contraseña">
        </div>
        <div class="container-button">
          <input type="submit" value="Resgistrate">
        </div>
      </form>
    </div>
  </div>
  <router-outlet></router-outlet>
